/* Other existing styles */

.cover-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
  width: 93%;
  margin-left: 30px;
}

.cover-left,
.cover-right {
  flex: 1;
  
}

.cover-left h1 {
  font-size: 48px;
  margin: 0;
  color: #000;
}

.cover-left p {
  font-size: 16px;
  color: #555;
}

.supported-by {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.supported-by p {
  margin: 0;
  margin-right: 5px;
  font-size: 12px;
  color: #555;
}

.supported-by img {
  width: 100px;
  height: auto;
}

.search-bar {
  margin-top: 20px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  height: 60px;
  background-color: #eeeeee;
}

.search-bar input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: #eeeeee;
}

.search-button,
.visual-search-button {
  background: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.search-button i,
.visual-search-button i {
  font-size: 16px;
  color: #333;
}

.cover-right {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex: 1;
}

.info-box,
.unsplash-plus {
  flex: 1;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

.info-box {
  background-color: #eef7ff;
  width: 400px;
}

.info-box p {
  margin: 10px 0;
  font-size: 16px;
  color: #555;
}

.info-box .bold-text {
  font-weight: bold;
}

.info-box a {
  font-size: 14px;
  color: #0073e6;
  text-decoration: none;
  bottom: 0;
}

.info-box a:hover {
  text-decoration: underline;
}

.unsplash-plus {
  background-color: #d9f2e6;
}

.unsplash-plus p {
  margin: 5px 0;
  font-size: 16px;
  color: #333;
}

.search-bar .search-button,
.search-bar .visual-search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
}

.supported-by-hidden {
  display: none;
}
.hidden{
  display: none;
}
/* Responsive Styles */
@media (max-width: 768px) {
  .cover-container {
    flex-direction: column;
    padding: 1px;
    width: 98%;
    margin-left: 1px;
    margin-bottom: 30px;
    overflow:scroll ;
    flex-wrap: nowrap;
  }
  
  .cover-left h1 {
    font-size: 35px;
   
  }
  

  .cover-left,
  .cover-right {
    width: 100%;
  }
  
  .cover-left p {
    display: none;
  }

  .cover-right {
    
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    width: 317%;
    overflow:scroll 
   
  }
 

  .search-bar {
    display: none;
  }

  .search-bar input {
    max-width: 100%;
  }

  .supported-by {
    display: none;
  }

  .supported-by-hidden p {
    display: inline;
  }

  .supported-by-hidden {
    margin-top: 10px;
    display: flex;
    align-items: center;
  }

  .supported-by-hidden p {
    margin: 0;
    margin-right: 5px;
    font-size: 12px;
    color: #555;
  }

  .supported-by-hidden img {
    width: 100px;
    height: auto;
  }

  .hidden{
    display: block;
  }
}
